body{
    font-family: Georgia,"Times New Roman",Times,serif;
    color: white;
    height: 100%;
    background: linear-gradient(to bottom, #164970,#174a71);
}
h2{
    margin-top: 5px;
}
a.main-text:hover,a.main-text:visited,a.main-text:active,a.main-text:link{
    color: white;
    text-decoration: none;
}
.content-scroll{
    position: relative;
    height: 70vh;
    margin-top: 10px;
    overflow: auto;
}
.white-background{
    background-color: white;
}
.poster{
    max-height: 300px;
}
.logo{
    max-height: 60px;
}
.thumbnail{
    border: 0;
    background-color: none;
}
.normal-text{
    size: 10pt;
}
.padding-20{
    padding: 20px;
}
.page-header {
    
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px; 
}
.home-header {
    
    margin: 0px;
    padding: 10px; 
}
.home-content {
    background: linear-gradient(to bottom, #00123C, #140B28);
}
.body-content{
    background: linear-gradient(to bottom, #0f2b4a, #174a71);
}
.nav-header{
    background: linear-gradient(to left bottom, #080e26,#257fb3);
}
.nav-content{
    background: linear-gradient(to  right bottom, #257fb3,#080e26);
    height: 100px;
    border-bottom: 2px solid #FFB273;
}
.header-size{
    height: 100px;
}
.footer{
    background: linear-gradient(to right, #803A00,#F26E00);
    border-top: 2px solid #FFB273;
    border-bottom: 2px solid #FFB273;
    bottom: -67px;
}
.container{
    width: 100%;
}
.poster-image{
    max-height: 200px;
    padding: 5px;
    text-align: center;
}
.poster-link{
    max-height: 180px;
}
.home-link{
    color: inherit; 
}
.small-image{
    max-height: 67px;
}
.breadcrumb-padding{
    padding-top: 10px;
}