.fixed{
  position: fixed;
  z-index: 1024;
}
.content-scroll{
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
}
.white-background{
    background-color: white;
}
.header-style{
    height: 50px;
}
.poster{
    max-height: 300px;
}
.thumbnail{
    border: 0;

}
.normal-text{
    size: 10pt;
}