<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
       <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
    </div>
</nav>         
           
<header class="jumbotron">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>Ristorante con Fusion</h1>
                <p style="padding:40px;"></p>
                <p>We take inspiration from the World's best cuisines, and create
                 a unique fusion experience. Our lipsmacking creations will 
                 tickle your culinary senses!</p>
            </div>
            <div class="col-xs-12 col-sm-2">
            <p style="padding:20px;"></p>
            <img src="./images/logo.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-2">
            </div>
        </div>
    </div>
</header>