<div class="container" ng-controller="IndexController">
    <div class="row">
       	<div class="col-xs-12 body-content">
       		<div class="col-xs-12 text-center" ng-if="!showMovies">
	            <h3> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {{message}}</h3>
	        </div>
            <div ng-if="showMovies">
                <div class="page-header text-center white-color"> 
                    <h2>Popular movies</h2>
                </div>
                <div  class="col-xs-6 col-md-3 col-sm-4 poster-image" ng-repeat="movie in movies.results">
                    <a ui-sref="app.movie({id: movie.id})" class="list-group-item center-block poster-link">
                        <div>
                            <img ng-src="https://image.tmdb.org/t/p/w250_and_h141_bestv2/{{movie.poster_path}}" class="img-thumbnail" ng-if="movie.poster_path">
                            <img  ng-src="images/medium_movie.png" class="img-thumbnail" ng-if="!movie.poster_path">
                        </div>
                        <div class="text-center">
                            <small>{{movie.title}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>